body {
    background-color: #E5EDE4;
    color: #041A1F;   
}

.container-fluid {
    background-color: #E5EDE4;
}

.nav {
    background-color: #163333;
}

.header {
    font-size: 60px;
    text-align: center;
    background-color: #0E615E;
    color: #FFFFFF;
}

.btn {
    width: 100px;
    background-color: #0E615E;
    color: #FFFFFF;
    
    text-shadow: none;
}

.btn:hover {
    background-color: #13827E;
    color: #D9E0D7;
}

#ownerReg {
    width: 220px;
}

h1 {
    font-size: 24px;
}
.ownerReg {
    margin-left: 30px;
    margin-right: 30px;
}

.ownerInput {
    width: 30%;
    display: inline-block;
}

.dropdown {
    margin-top: 20px;
    margin-bottom: 20px;
}
#ownerDropDown {
    width: 400px;
}

.petReg {
    margin-left: 30px;
    margin-right: 30px;
}

.petInput {
    width: 20%;
    display: inline-block;
}

.petVisits {
    margin-left: 30px;
    margin-right: 30px;
}